<header>
    <div class="subhead">
        <div class="logo">
            <a href="/">
                <img class="logo" src="img/logo.jpg" alt="logo">
                <p>Bullet Notes</p>
            </a>
        </div>
        <div class="h-btn">
            <a href="/login"><button class="btn-s login">Login</button></a>
            <a href="/signin"><button class="btn-s signin">Sign in</button></a>
 </div>
    </div>
</header>