<header>
    <div class="subhead">
        <div class="logo">
            <a href="/dashbord">
                <img class="logo" src="img/logo.jpg" alt="logo">
                <p>Bullet Notes</p>
            </a>
        </div>
        <div class="h-btn">
            <form action="/logout" method="post"><button type="submit" class="btn-s logout">Logout</button></form>
 </div>
    </div>
</header>