<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <%- include('includes/plug'); %>
    <style>
        body{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
        img{
            width: 80%;
            height: 75vh;
        }
    </style>
</head>
<body>
    <a href="/"><img src="img/404.svg" alt="404"></a>
</body>
</html>