<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
    <%- include('includes/plug'); %>
    <style>
        body{height: 100vh;}
        footer{position: absolute;bottom: 0px;width: 100%;}
    </style>
</head>
<body>
    <%- include('includes/header'); %>
    <main>
        <div class="set-c">
        <h1>About</h1>
        <h3>This site is a Training project.</h3>
        <div class="about">
            <p>Hello! This is sangam nayak (Raxmice). This project is a part of my learning prossess from Stige (virtual Internship).</p>
        </div>
        </div>
    </main>
    <%- include('includes/footer'); %>
</body>
</html>