<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact me</title>
    <%- include('includes/plug'); %>
</head>
<body>
    <%- include('includes/header'); %>
    <main>
        <div class="set-c">
        <h1>Contact Me</h1>
        <h3>Sangam Nayak</h3>
        <div class="about">
            <p>Hello! Currently i'm available for freelancing. so if you need help in any project or searching for web developer to create a project for you, Contact me. you can Contact me by following me on Instagram and by joining my Telegram Group. <br><br> <span style="font-weight: bold;">JUST SCAN.</span></p>
        </div>
        <div class="follow">
            <img src="img/instagram.png" alt="instagram">
            <img src="img/telegram.png" alt="telegram">
        </div>
        </div>
    </main>
    <%- include('includes/footer'); %>
</body>
</html>