<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('includes/plug'); %>
</head>
<body>
    <%- include('includes/header'); %>
    <main>
        <div class="bullet-area">
            <img class="bullet" src="img/Bullet.svg" alt="bullet notes">
        </div>
        <div class="t-area">
            <h2>Persoal Notes and Tasks</h2>
            <p>Save your Notes and Task and access anywhere</p>
            <a href="/dashbord"><button class="btn btn-dash">Dashbord</button></a>
        </div>
    </main>
    <%- include('includes/footer'); %>
</body>
</html>